[submodule "OpenFPGA"]
	path = OpenFPGA
	url = https://github.com/wrileena/OpenFPGA.git
	branch = LaZagna_Layerwise
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/IY2002/Benchmarks_LaZagna.git
